
.pictures{
    margin: 0 auto;
    width:70%;
    border:1px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-family:Verdana, Geneva, sans-serif;
    text-align:center;
}
.pictures img{
    border:10px solid #444;
    -moz-border-radius: 5px;
    -webkit-border-radius: 10px;
    margin: 15px;
}
.pictures img:hover{
    border-color:#555;
    -moz-box-shadow: 0px 0px 15px #111;
    -webkit-box-shadow: 0px 0px 15px #111;
}
#allPictures{
	color:black;
}
.galleryTop{
	position: relative;
	left:10%;
	width: 90%;
	border-bottom: dotted #2C3E50 3px;
	color: #5A7EA3;
}

.galleryTop h2,
.galleryTop a{
	width: 120px;
	display: inline-block;
}

.gallerySettings{
	position: relative;
	right: -85%;
}

#invisible{
	display: none;
}

#visible{
	display: block;
}
#paginated{
	display: none;
}
#allPictures{
	display: block;
}