/*.left-panel{
    background-color: #333;
    width:350px;
    height: 310px;
    top: 33%;
    left:-350px;
    position: fixed;
}
.left-panel input{
    width: 200px;
    display: inline;
}
label {
    color: white;
}
.left-panel button {
    width: 100px;
}*/

#container {
    position: absolute;
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
}

#to_show {
    width: 100px;
    height: 90px;
    border: 1px solid #000000;
    visibility: hidden;
}
