<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>DigiX</title>
	<meta name="description" content="First page">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>
	<header>
		<div class="navbar navbar-default navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a href="" class="navbar-brand">DigiX</a>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
			<div class="row">
				<div class="col-xs-6 text-right">
					<a href="https://facebook.com" class="btn"> <img src="facebook-icon.png" alt="image"> </a>
				</div>
				<div class="col-xs-6">
					<a href="https://twitter.com" class="btn"> <img src="twitter-icon.png" alt="image"> </a>
				</div>
			</div>
			<div class = "row">
				<div class="col-xs-6 text-right">
					<a href="https://www.flickr.com" class="btn"> <img src="flickr-icon.jpg" alt="image"> </a>
				</div>
				<div class="col-xs-6">
					<a href="https://plus.google.com" class="btn"> <img src="google-plus-icon.png" alt="image"> </a>
				</div>
			</div>
		</div>

	
	
	
	

	<footer>
		<div class="footer navbar-fixed-bottom">
			<div class="container">
				<div class="navbar-header ">
					<div class = "text-right">
						<a href="#" class="btn btn-sm"> About</a>
						<a href="#" class="btn btn-sm"> Contact</a>
						<a href="#" class="btn btn-sm"> Help</a>
  					<div>
				</div>
			</div>
		</div>
	</footer>

	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>	
</html>