<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>DigiX</title>
	<meta name="description" content="First page">

	<link rel="stylesheet" href="include/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="include/bootstrap/css/bootstrap-theme.min.css">

	<script src="include/jquery/jquery-1.11.2.min.js"></script>
	<script src="include/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
	<header>
		<div class="navbar navbar-default navbar-inverse">
			<div class="container">
				<a href="home-page.html" class="btn navbar-btn btn-default" id="button-images-slideshare"><span class="glyphicon glyphicon-picture"></span></a>
				<a href="#" class="btn navbar-btn btn-default" id="button-family-tree"><span class="glyphicon glyphicon-tree-conifer"></span></a>

				<div class="dropdown btn-group btn-default">
    				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog"></span></a>
    				<ul class="dropdown-menu">
        				<li><a href="edit-profile-page.html">Edit profile</a></li>
        				<li><a href="add-account-page.html">Add account</a></li>
        				<li class="divider"></li>
        				<li><a href="http://google.ro">Help</a></li>
        				<li><a href="first-page.html">Log out</a></li>
    				</ul>
				</div>

				<form action="" class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search text">
					</div>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
				</form>
			</div>
		</div>
	</header>

	<div class="container">
			<div class="row">
				<div class="col-sm-6 text-right">
					<a href="#facebook-form" class="btn" data-toggle="collapse" data-target="#facebook-form"> <img src="facebook-icon.png" alt="image"> </a>
					<div id="facebook-form" class="panel-collapse collapse in">
        				<form action="" class="form">
							<div class="form-group">	
								<input type="text" id="facebook-username-input" class="form-control input-md" placeholder="Facebook username">
							</div>
							<div class="form-group">
								<input type="password" id="facebook-password-input" class="form-control input-md" placeholder="Facebook password">
							</div>
							<div class="text-right">
								<a href="#" class="btn btn-primary btn-md" type="button" id="button-sign-in">Add account</a>
							</div>
						</form>
      				</div>
				</div>
				<div class="col-sm-6">
					<a href="#twitter-form" class="btn" data-toggle="collapse" data-target="#twitter-form"> <img src="twitter-icon.png" alt="image"> </a>
					<div id="twitter-form" class="panel-collapse collapse in">
        				<form action="" class="form">
							<div class="form-group">	
								<input type="text" id="twitter-username-input" class="form-control input-md" placeholder="Twitter username">
							</div>
							<div class="form-group">
								<input type="password" id="twitter-password-input" class="form-control input-md" placeholder="Twitter password">
							</div>
							<div class="text-right">
								<a href="#" class="btn btn-primary btn-md" type="button" id="button-sign-in">Add account</a>
							</div>
						</form>
      				</div>
				</div>
			</div>
			<div class = "row">
				<div class="col-sm-6 text-right">
					<a href="#flickr-form" class="btn" data-toggle="collapse" data-target="#flickr-form"> <img src="flickr-icon.jpg" alt="image"> </a>
					<div id="flickr-form" class="panel-collapse collapse in">
        				<form action="" class="form">
							<div class="form-group">	
								<input type="text" id="flickr-username-input" class="form-control input-md" placeholder="Flickr username">
							</div>
							<div class="form-group">
								<input type="password" id="flickr-password-input" class="form-control input-md" placeholder="Flickr password">
							</div>
							<div class="text-right">
								<a href="#" class="btn btn-primary btn-md" type="button" id="button-sign-in">Add account</a>
							</div>
						</form>
      				</div>
				</div>
				<div class="col-sm-6">
					<a href="#google-plus-form" class="btn" data-toggle="collapse" data-target="#google-plus-form"> <img src="google-plus-icon.png" alt="image"> </a>
					<div id="google-plus-form" class="panel-collapse collapse in">
        				<form action="" class="form">
							<div class="form-group">	
								<input type="text" id="google-plus-username-input" class="form-control input-md" placeholder="Google+ username">
							</div>
							<div class="form-group">
								<input type="password" id="google-plus-password-input" class="form-control input-md" placeholder="Google+ password">
							</div>
							<div class="text-right">
								<a href="#" class="btn btn-primary btn-md" type="button" id="button-sign-in">Add account</a>
							</div>
						</form>
      				</div>
				</div>
			</div>
		</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>	
</html>