<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>DigiX - Flickr Sync</title>
		<meta name="description" content="DigiX - Flickr Sync" />
		<meta name="keywords" content="modal, window, overlay, modern, box, css transition, css animation, effect, 3d, perspective" />
		<meta name="author" content="DigiX" />
		<link rel="stylesheet" href="include/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="include/bootstrap/css/bootstrap-theme.min.css">

		<script src="include/jquery/jquery-1.11.2.min.js"></script>
		<script src="include/bootstrap/js/bootstrap.min.js"></script>
		<script src="javascripts/flickrJS.js"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/flickr/default.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/flickr/component.css" />

	</head>
	<header>
		<div class="navbar navbar-default navbar-inverse">
			<div class="container">
                <p class="navbar-text navbar-left" style="color:white;margin-right:20px;">Logged in as: <%= user.username %></p>

                <a href="profile/button" class="btn navbar-btn btn-default" id="button-images-slideshare"><span class="glyphicon glyphicon-picture"></span></a>
				<a href="#" class="btn navbar-btn btn-default" id="button-family-tree"><span class="glyphicon glyphicon-tree-conifer"></span></a>

				<div class="dropdown btn-group btn-default">
    				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog"></span></a>
    				<ul class="dropdown-menu">
        				<li><a href="edit_profile">Edit profile</a></li>
        				<li><a href="flickr">Add account</a></li>
        				<li class="divider"></li>
        				<li><a href="http://google.ro">Help</a></li>
        				<li><a href="logout">Log out</a></li>
    				</ul>
				</div>

			</div>
		</div>
	</header>
	

	<body>
		<div class="containerF">
			<!-- Top Navigation -->

			<header>
				<h1>Flickr<span>Shoot! Download! Flick!</span></h1>
			</header>
			<div class="main clearfix">
				<div class="column">
					<p>Are you the pround owner of a Flicr account? How about showcasing all your work from here. Just login and review your proudest photos.</p>
				</div>
				<div class="column">
					<a href=<%=link%>><button><%=msg%></button></a>
				</div>
			</div>
		</div><!-- /container -->
		<div class="md-overlay"></div>
		<!-- <br> -->
		<ul class="pager">
			<li><a href="instagram" id="previous"><span class="glyphicon glyphicon-chevron-left"></span> Instagram</a></li>
			<li><a href="facebook" id="next">Facebook <span class="glyphicon glyphicon-chevron-right"></span></a></li>
		</ul>


		<script src="javascripts/classie.js"></script>
		<script src="javascripts/modalEffects.js"></script>

		<script>
			// this is important for IEs
			var polyfilter_scriptpath = '/js/';
		</script>
		<script src="javascripts/css-filters-polyfill.js"></script>

	</body>
</html>